.nav-sidebar {
	width: 150px;
	background-color: var(--color-primary);
	.icon {
		margin-top: 1.5em;
	}
	.img-icon {
		width: 5em;
	}
	.img-icon-nav {
		width: 2.5em;
	}
	.container {
		.material-icons {
			font-size: 2.5em;
			color: white;
		}
	}
}
