<div class="nav-sidebar">
	<div class="icon">
		<img class="img-icon" src="assets/logo-ailos.png" alt="Logotipo Ailos" />
	</div>
	<nav class="container">
		<div class="container__menu mt-4">
			<span class="material-icons"> menu </span>
		</div>
		<div class="container__search mt-4">
			<span class="material-icons"> search </span>
		</div>
		<div class="container__star mt-4">
      <img class="img-icon-nav" src="assets/star.png" alt="Campo Busca" />
		</div>
		<div class="container__message mt-4">
      <img class="img-icon-nav" src="assets/message.png" alt="Campo Mensagem" />
		</div>
    <div class="container__filter mt-4">
      <img class="img-icon-nav" src="assets/filter.png" alt="Campo Filtro" />
    </div>
    <div class="container__institution mt-4">
      <img class="img-icon-nav" src="assets/institution.png" alt="Campo Instituição" />
    </div>
	</nav>
</div>
