<header>
	<nav class="navbar">
		<div>
			<span class="page-title">Nova Admissão Cooperado</span>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Cadastro</li>
				<li class="breadcrumb-item">Admissão do Cooperado</li>
				<li class="breadcrumb-item">Nova Admissão do Cooperado</li>
			</ol>
		</div>
		<div class="user-options">
      <span class="material-symbols-outlined customized-symbol mx-lg-3-5"> notifications </span>
      <button class="btn-outline-custom mx-lg-3"> VIACREDI </button>
      <img class="rounded-circle user-image" src="assets/user.png" alt="Foto do Usuário">
		</div>
	</nav>
</header>
