<div class="main-content w-100 ps-4">
	<div class="timeline d-flex align-items-center justify-content-center">
		<app-timeline [items]="itemsTimeline"></app-timeline>
	</div>
	<div>
		<h1>Informe o CPF do futuro cooperado (a)</h1>
		<p>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.</p>
		<p>Digite apenas os números (sem pontos ou traços).</p>
	</div>
	<div>
		<form class="form-inline d-flex" [formGroup]="formCPF" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="cpf">CPF</label>
				<input
					class="form-control"
					type="text"
					name="cpf"
					id="cpf"
					formControlName="cpf"
					mask="000.000.000-00"
					placeholder="000.000.000-00" />
				<small class="form-error" *ngIf="cpf?.touched && cpf?.dirty && cpf?.getError('cpfNotValid')"
					>Informe um CPF válido</small
				>
			</div>
			<button class="btn button-primary" type="submit" [disabled]="disableButton">
				<ng-template [ngIf]="!loading"> Consultar por CPF </ng-template>
				<ng-template [ngIf]="loading">
					<app-loading-spinner></app-loading-spinner>
				</ng-template>
			</button>
		</form>
	</div>
	<div class="mt-3">
		<app-user-situation [user_situation]="user_situation" *ngIf="user_situation"></app-user-situation>
	</div>
</div>
